[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/LarissaReames-NOAA/GFDL_atmos_cubed_sphere
	branch = feature/idealized_periodic_mp_nssl
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = master
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/MicroTed/ccpp-physics.git
	branch = nsslmicroted-sfe2021
